<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wan.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- CrashHandler必须 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- AgentWeb必须, 友盟统计必须 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--友盟统计必须, 判断网络有无必须-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--友盟统计必须-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".WanAndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".content.ContentActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".friend.FriendActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/hot"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".funet.FUNetActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/my_website"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".my.AboutActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".collect.MyCollectionActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/my_collection"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".setting.SettingsActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".loginregister.LoginActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".loginregister.RegisterActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".branch.BranchActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".author.AuthorActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>

        <service
            android:name=".setting.VersionUpdateService"
            android:exported="false"/>
        <!-- [友盟 推送及统计配置 start] -->
        <!-- appkey作为应用在友盟的ID -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>
        <!-- 作为友盟的ID 的秘钥 -->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="${UMENG_MESSAGE_SECRET}"/>
        <!-- 推广渠道 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>
        <!-- [友盟 推送及统计配置 end] -->
    </application>

</manifest>